[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/ccip"]
	path = packages/foundry/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "packages/foundry/lib/prb-test"]
	path = packages/foundry/lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "lib/prb-test"]
	branch = release-v0
[submodule "packages/foundry/lib/chainlink-evm"]
	path = packages/foundry/lib/chainlink-evm
	url = https://github.com/smartcontractkit/chainlink-evm
[submodule "packages/foundry/lib/chainlink-ccip"]
	path = packages/foundry/lib/chainlink-ccip
	url = https://github.com/smartcontractkit/chainlink-ccip
[submodule "packages/foundry/lib/chainlink-local"]
	path = packages/foundry/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
